html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  background-color: #cf034a;
  text-align: center;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}


/*********

  STYLES

*********/

canvas {
  width: 100%;
  height: 50%
}



h3{
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: bold;
     -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-radial-gradient( 110% 50%, circle, rgb(8, 1, 1) 0%,#d487e9 110%,rgb(0, 7, 5));
      background-image: radial-gradient( circle at 110% 50%, rgb(5, 0, 1) 0%,#d487e9 110%,rgb(10, 0, 0));
    text-decoration: underline;
    animation-name: pan-gradient;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}


@-webkit-keyframes pan-gradient {

0%   { 
    
    background-position: 0 0;
}

25% {
   
    background-position: -1200px -1200px;
}



50% { 
    
     background-position: -1200px 1200px;
 
}


100% { 
    
     background-position: 0 0;
 
}

}

header {
  position: relative;
  margin: 30px 0;
}

header:after {
  content: '';
  width: 460px;
  height: 15px;
  background: url(images/intro-div.svg) no-repeat center;
  display: inline-block;
  text-align: center;
  background-size: 70%;
}

h1 {
  color: #fff;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  color: #fff;
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  margin: 0 0 30px;
}

.nowplaying {
  font-size: 120px;
  line-height: 1;
  color: #eee;
  text-shadow: 0 0 5rem #028ae9;
  transition: all .07s ease;
  min-height: 120px;
}

.keys {
  display: block;
  width: 100%;
  height: 350px;
  max-width: 880px;
  position: relative;
  margin: 0px auto 30px;
  cursor: none;
  
}

.key {
  position: relative;
  border: 4px solid black;
  border-radius: .5rem;
  transition: all .07s ease;
  display: block;
  box-sizing: border-box;
  z-index: 2;
}

.key:not(.sharp) {
  float: left;
  width: 10%;
  height: 100%;
  background: rgba(255, 255, 255, .8);    
}

.key.sharp {
  position: absolute;
  width: 6%;
  height: 60%;
  background: #000;
  color: #eee;
  top: 0;
  z-index: 3;
}

.key[data-key="87"] {
  left: 7%;
}

.key[data-key="69"] {
  left: 17%;
}

.key[data-key="84"]  {
  left: 37%;
}

.key[data-key="89"] {
  left: 47%;
}

.key[data-key="85"] {
  left: 57%;    
}

.key[data-key="79"] {
  left: 77%;    
}

.key[data-key="80"] {
  left: 87%;    
}

.playing {
  transform: scale(.95);
  border-color: #028ae9;
  box-shadow: 0 0 1rem #028ae9;
}

.hints {
  display: block;
  width: 100%;
  opacity: 0;
  position: absolute;
  bottom: 7px;
  transition: opacity .3s ease-out;
  font-size: 20px;
  z-index: 100;
}

.keys:hover .hints {
  opacity: 1;
}
.squig {
   
    height: 80px;
  }